@use "sass:math";

/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $narrow-padded) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $narrow-padded) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $normal-padded) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $wide-padded) {
    @content;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin btn($type: "regular", $color: red, $padding: 0.6em 1em) {
  @if $type== "regular" {
    font-size: 1em;
    background-color: $secondary-1100;
    color: $color;
    border: 1px solid $primary-900;
    padding: $padding;
    &:hover {
      background-color: $primary-900;
      border: 1px solid $secondary-1100;
    }
  }

  @if $type== "rounded" {
    border-radius: 2em;
  }

  @if $type== "dark" {
    background-color: $primary-900;
    color: $secondary-1100;
    &:hover {
      background-color: $secondary-1100;
      border: 1px solid $primary-900;
    }
  }
}

@mixin default-block($bc: $secondary-1000, $clr: $secondary-900) {
  background-color: $bc;
  border-radius: 12px;
  border: 2px solid $primary-1000;
  color: $clr;
}
