// Colors

// primary
$primary-900: #fff5e4;
$primary-1000: #ffa725;

// secondary
$secondary-1000: #6a9c89;
$secondary-900: #c1d8c3;

$height: height;

// Breakpoints

$layout-padding: 20px;

$narrow-breakpoint: 600px;
$normal-breakpoint: 920px;
$wide-breakpoint: 1200px;

$narrow-padded: $narrow-breakpoint + 2 * $layout-padding;
$normal-padded: $normal-breakpoint + 2 * $layout-padding;
$wide-padded: $wide-breakpoint + 2 * $layout-padding;

//Layout
